- type: job
  id: Sheriff
  name: job-name-sheriff
  description: job-description-sheriff
  playTimeTracker: JobHeadOfSecurity
  requirements:
    - !type:OverallPlaytimeRequirement
      time: 129600 # 36 hours
    - !type:RoleTimeRequirement
      role: JobHeadOfSecurity
      time: 3600 # CS: 1 hr of itself
  whitelisted: true
  startingGear: SheriffGear
  alwaysUseSpawner: true
  icon: JobIconSheriff
  requireAdminNotify: true
  supervisors: job-supervisors-centcom
  weight: 180
  displayWeight: 70
  canBeAntag: false
  accessGroups:
  - AllAccess
  special:
  - !type:AddImplantSpecial
    implants: [ MindShieldImplant, TrackingImplant ]
  - !type:AddRpiJobModifierSpecial
    modifiersToAdd:
    - rpiJobModifierSheriff
  - !type:AddComponentSpecial
    components:
      - type: CommandStaff
  - !type:GiveItemOnHolidaySpecial
    holiday: FrontierBirthday
    prototype: FrontierBirthdayGift

- type: startingGear
  id: SheriffGear
  equipment:
    pocket1: NFWeaponPistolUniversalNfsdLessLethal
    pocket2: NFWeaponEnergyPistolLaserX01Multiphase
  storage:
    back:
    - NfsdTechFabFlatpack
    - Multitool
    - HoloprojectorNfsd
    - DoorRemoteNfsd
    - BaseSecurityUplinkRadioSheriff
    - RubberStampSheriff
    - ShipVoucherNfsdBailiff
    - EncryptionKeyCommand
    - FrontierUplinkCoin5 # Coyote added 5 uplink coins to Sheriff

- type: chameleonOutfit
  id: SheriffChameleonOutfit
  job: Sheriff
  hasMindShield: true
  equipment:
    head: ClothingHeadHatNfsdCampaignFilled
    mask: ClothingMaskGasSheriff
    eyes: ClothingEyesGlassesNfsd
    outerClothing: ClothingOuterCoatNfsdFormalSheriff
    neck: ClothingNeckNfsdBadgeSheriff
    belt: ClothingBeltNfsdFilled
    gloves: ClothingHandsGlovesCombatNfsdCream
    shoes: ClothingShoesBootsNfsdBrown
